@font-face {
    font-family: 'Trajan Pro 3';
    src: url('TrajanPro3Regular.eot');
    src: local('Trajan Pro 3 Regular'), local('TrajanPro3Regular'),
        url('TrajanPro3Regular.eot?#iefix') format('embedded-opentype'),
        url('TrajanPro3Regular.woff2') format('woff2'),
        url('TrajanPro3Regular.woff') format('woff'),
        url('TrajanPro3Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}